# StellarStack GitLab CI/CD Pipeline
# https://gitlab.com/StellarStackOSS/stellarstack

stages:
  - install
  - pre-build
  - build
  - test
  - analysis
  - release
  - deploy
  - cleanup

variables:
  PNPM_VERSION: "10.4.1"
  NODE_VERSION: "20"

default:
  interruptible: true

workflow:
  auto_cancel:
    on_new_commit: interruptible
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
    - if: $CI_COMMIT_TAG
    - if: $CI_COMMIT_BRANCH

include:
  - local: ".gitlab/ci/templates.gitlab-ci.yml"
  - local: ".gitlab/ci/ci.gitlab-ci.yml"
  - local: ".gitlab/ci/daemon-release.gitlab-ci.yml"
  - local: ".gitlab/ci/desktop-release.gitlab-ci.yml"
  - local: ".gitlab/ci/docker-build.gitlab-ci.yml"
  - local: ".gitlab/ci/docker-cores.gitlab-ci.yml"
  - local: ".gitlab/ci/release.gitlab-ci.yml"
  - local: ".gitlab/ci/test-docker.gitlab-ci.yml"
